{% extends "layout.html" %}
{% block body %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class='error'>{{message}}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<h1>Please Login or Register to Join the Magic!</h1>


<form class="login" action="/login" method='post'>
  Email: <input type="email" name="email">
  Password: <input type="password" name="password">
  <input type="submit" value="Login">
</form>

<form class="register" action="/register" method='post'>
  Name: <input required type="text" name="name">
  Alias: <input required type="text" name="alias">
  Email: <input type="email" name="email">
  Password: <input type="password" name="password">
  Password Confirm: <input type="password" name="password_confirm">
  <input type="submit" value="Register">
</form>
{% endblock %}